@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;800;900&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

h3 {
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 700;
    padding-bottom: 1rem;
}
ul {
    padding-left: 2rem;
}
li {
    list-style: disc;
}
